.logo {
  float: left;
}

#id1 {

  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-size      : cover;
  overflow             : auto;
}

#quote {
  font-family: Sofia;
  font-size  : 30px;
}

li.nav-item>a.nav-link {
  color:white;
}

li.nav-item>a.nav-link:hover {
  color: rgb(96, 109, 151);
  
  
}

/* css file */
